.git
.github
.gradle
build
out
.idea
.vscode
*.iml
.DS_Store
__MACOSX

.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.jks

secrets/*
!secrets/.gitkeep
src/main/resources/*.json

README-deploy.md
nginx
